[Unit]
Description=pigpio daemon (local clients only)
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pigpiod -g -l
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
